<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>515843373444-vt1tamg9t187plfr8qdksk368dgc1civ.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.515843373444-vt1tamg9t187plfr8qdksk368dgc1civ</string>
	<key>API_KEY</key>
	<string>AIzaSyBQTS0KnLXs57v8TONGQ1oyT_G2VkwoiXs</string>
	<key>GCM_SENDER_ID</key>
	<string>515843373444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bihere</string>
	<key>PROJECT_ID</key>
	<string>dancheck-de236</string>
	<key>STORAGE_BUCKET</key>
	<string>dancheck-de236.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515843373444:ios:dd515920a487d3c1f185d1</string>
</dict>
</plist>